@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

.details {
  font-family: 'Lato', sans-serif;
  padding-bottom: 20px;

  h2 {
    font-family: 'Gill Sans', sans-serif;
  }

  .overview {
    width: 500px;
    margin: 0 auto;
  }

  button {
    border: none;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }

  button:hover {
    letter-spacing: 3px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .details {
    img {
      width: 100%;
    }

    .overview {
      margin: 0 5%;
      width: auto;
    }
  }
}
