$color: #4369b2;

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  div {
    border: 1px solid rgba(255, 255, 255, 0.112);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.123);
    border-radius: 7px;
    transform-style: preserve-3d;
    overflow: hidden;
    background: $color;

    img {
      width: 350px;
      margin: 0;
      border-radius: 7px 7px 0 0;
      transition: all 0.5s ease-in-out;
    }

    p {
      font-family: 'Lato', sans-serif;
      margin: 0 0 5px 0;
      color: rgb(255, 255, 255);
    }
  }

  div img:hover {
    transform: scale(1.04) translateY(-11px);
    border-radius: 0;
  }
}
